<body>
    <div>
        <br>
        <div  class="card"><br>
        <div class="nav">
            <span>Home</span>
            <span class="same"><a href="#problem">Problem Statement</a></span>
            <span class="same"><a href="#member">Team Member</a></span>
            <span class="button"><button (click)="tolandpage()">Login/Register</button></span>
        </div>
        <div class="table">
            <table>
                <tr>
                    <td>
                        <h2>BlackBus</h2>
                        <h4>Helps you to book your ticket at your comfort level.</h4>
                        <span class="login"><button>Login</button></span>
                        <span class="more"><button><a href="#problem">About us.</a></button></span>
                    </td>
                    <td class="image">
                        <img src="../assets/images/bus.jpg" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
        <div class="card2" id="problem">
            <h2>About</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <br>
        <br>
        <div class="card3" id="member">
            <div class="subcard">
                <h1>Team Members</h1>
            </div>
            <div>
                <ul>
                    <li>Sayali (Team Leader)</li>
                    <li>Hozefa Arielwala</li>
                    <li>Srivatsav</li>
                    <li>Nitish Singh</li>
                    <li>Vaibhav Poriya</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <footer>
           <h3> Thankyou ! Made By GET 1024 Group No. 4</h3>
        </footer>
    </div>
</body>