<link rel="stylesheet" href="dispallbus.component.css">
    <div class="main">
        <div class="nav">
            <button id="addnewbus" routerLink="/addbus" routerActiveLink="active">Add new Bus</button>
            <button id="displayuser" routerLink="/dispalluser" routerActiveLink="active">Display User</button>
            <button id="logout" routerLink="/mainpage" routerActiveLink="active">LOGOUT</button>
        </div>
        <body>
            <div class="table-container">
                <h1 class="heading">Welcome Admin </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>BUS-NO</th>
                            <th>Bus-Name</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Departure-date</th>
                            <th>Departure-time</th>
                            <th>Bus-type</th>
                            <th>Seats-Availability</th>
                            <th>AC</th>
                            <th>Cost</th>
                            <th>Update-bus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of allblist;">
                            <td>{{b.busId}}</td>
                            <td>{{b.busName}}</td>
                            <td>{{b.source}}</td>
                            <td>{{b.destination}}</td>
                            <td>{{b.departureDate}}</td>
                            <td>{{b.departureTime}}</td>
                            <td>{{b.busType}}</td>
                            <td>{{b.seatsAvailable}}</td>
                            <td>{{b.ac}}</td>
                            <td>{{b.cost}}</td>
                            <td><button class="btn" name="update" (click)="update(b) ">update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>